<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <style>
        body {
            background-color: #E0F1FF;
        }

        .error-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .error-title {
            color: #3F5F8F;
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .error-message {
            color: #3F5F8F;
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        .btn-back {
            background-color: #0BFFBF;
            border-color: #0BFFBF;
            color: white;
            transition: background-color 0.3s ease;
        }

        .btn-back:hover {
            background-color: #8091B3;
            border-color: #8091B3;
        }
    </style>
</head>

<body>
    <div class="container error-container">
        <h1 class="error-title">404</h1>
        <p class="error-message">Oops! The page you are looking for could not be found.</p>
        <a href="/" class="btn btn-lg btn-back">Back to Homepage</a>
    </div>
</body>

</html>
